<template>
  <layout>
    <h4>Create {{ taxonomyName }} term</h4>
    <resource-form @saved="returnBack" @cancelled="$router.go(-1)" />
  </layout>
</template>

<script>
import find from "lodash-es/find";
import get from "lodash-es/get";
import { mapState } from "vuex";
import Layout from "../layouts/Default.vue";
import ResourceForm from "./Form.vue";

const resourceBase = "terms";

export default {
  name: "TermsCreate",

  components: {
    Layout,
    ResourceForm
  },

  computed: {
    ...mapState("terms", ["taxonomies"]),
    taxonomy() {
      return this.$route.params.taxonomy;
    },
    taxonomyName() {
      return get(find(this.taxonomies, { name: this.taxonomy }), "label");
    }
  },

  methods: {
    returnBack(result) {
      this.$router.push({
        name: `${resourceBase}.index`,
        params: { taxonomy: result.data.taxonomy }
      });
    }
  }
};
</script>
