<template>
  <form @submit.prevent="submit">
    <fields :fields="fields.all()" :model="model" :errors="errors" />
    <div class="form-group">
      <b-button type="submit" variant="primary">Save</b-button>
      <b-button type="button" variant="light" @click="cancel">Cancel</b-button>
    </div>
  </form>
</template>

<script>
import Layout from "../layouts/Default.vue";
import ResourceFormMixin from "../mixins/ResourceFormMixin";
import Proxy from "./Proxy";

export default {
  name: "TermsForm",

  components: {
    Layout
  },

  mixins: [ResourceFormMixin],

  created() {
    this.loadForm(
      new Proxy().setParameter("taxonomy", this.model.taxonomy)
    );
  },

  methods: {
    submit() {
      const data = this.formData(this.fields.all());
      data.append("taxonomy", this.model.taxonomy);

      this.save(Proxy, data).then(() => {
        this.$toast.success("Term was saved successfully");
      });
    }
  }
};
</script>
