<template>
  <layout>
    <div class="row">
      <div class="col-sm-3">
        <b-list-group>
          <b-list-group-item
            v-for="tax in $store.state.terms.taxonomies"
            :key="tax.name"
            :to="{ name: 'terms.index', params: { taxonomy: tax.name } }"
            >{{ tax.label }}</b-list-group-item
          >
        </b-list-group>
      </div>
      <div class="col-sm-9">
        <p v-if="!$route.params.taxonomy">
          Please, select a taxonomy in left sidebar
        </p>
        <router-view />
      </div>
    </div>
  </layout>
</template>

<script>
import Layout from "../layouts/Default.vue";
import Card from "../components/Card.vue";
import TermsProxy from "./Proxy";

export default {
  name: "Taxonomies",
  components: {
    Card,
    Layout
  },
  data() {
    return {
      taxonomies: []
    };
  },
  created() {
    new TermsProxy().taxonomies().then(result => {
      this.$store.commit("terms/taxonomies", result);
    });
  }
};
</script>
