<template>
  <span v-if="item[attribute]"> <i class="fa fa-check-square" /> On </span>
  <span v-else> <i class="fa fa-square-o" /> Off </span>
</template>

<script>
import DataMixin from "../../mixins/DataMixin";

export default {
  name: "DataBoolean",

  mixins: [DataMixin]
};
</script>
