/*
	Theme Name: Motors - Child Theme
	Theme URI: http://motors.stylemixthemes.com/
	Author: StylemixThemes
	Author URI: http://stylemixthemes.com/
	Description: Motors Child theme
	Version: 2.5.1
	License: GNU General Public License v2 or later
	License URI: http://www.gnu.org/licenses/gpl-2.0.html
	Tags: blue, red, one-column, two-columns, three-columns, four-columns, left-sidebar, right-sidebar, fixed-layout, fluid-layout, responsive-layout, flexible-header, custom-background, custom-colors, custom-header, custom-menu, editor-style, sticky-post, theme-options
	Text Domain: motors-child
    Template: motors

    This theme, like WordPress, is licensed under the GPL.
    Use it to make something cool, have fun, and share what you've learned with others.
*/

/* Add your own styles here */
@media (max-width: 992px){
    .image-spacer {
        display: none !important;
    }
}
@media (max-width: 1600px) {
    .page-template-default .vc_custom_1586791842959 {
        min-height: 37vw;
        background-size: cover !important;
    }
}

#hometopbg {
    position: relative;
}
#hometopbg:before {
    display: block;
    position: absolute;
    transform: translate(-50%, -600%);
    margin-right: -50%;
    left: 50%;
    /*top: 50%;*/
    font-weight: bold;
    text-shadow: 3px -1px 7px rgba(0,0,0,0.74);
}
.slogun {
    position: absolute;
    color: #0c70bb;
    font-size: 18px;
    transform: translate(-66%, -50%);
    margin-right: -50%;
    left: 50%;
    -webkit-box-shadow: 6px 11px 54px -10px rgba(0, 0, 0, 0.69);
    -moz-box-shadow: 6px 11px 54px -10px rgba(0, 0, 0, 0.69);
    box-shadow: 6px 11px 54px -10px rgba(0, 0, 0, 0.69);
}

.stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .stm_listing_icon_filter_single .inner ~ {
    text-decoration: none !important;
}

.stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .stm_listing_icon_filter_single .inner .name {
    text-decoration: none !important;
    font-size: 15px;
    margin-top: 15px !important;
    color: #4e90cc;
    font-weight: bold;
}

.stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .stm_listing_icon_filter_single .inner:hover .name {
    text-decoration: none !important;
    font-weight: bold;
}

.stm_listing_icon_filter .stm_listing_icon_filter_single .inner {
    display: flex !important;
    flex-direction: column;
    align-items: center;
}

.stm-template-listing_three #wrapper .stm_listing_icon_filter.filter_body a .inner .image img {
    text-align: center;
    padding-left: 0;
    padding-right: 0;
}

.stm_listing_icon_filter .stm_listing_icon_filter_single .inner .image {
    padding: 0 !important;
}
.stm_dynamic_listing_filter.filter-listing .tab-content{
    border-radius: 7px;
    padding: 50px 45px 14px;
}
.listing-search-label {
    font-size: 17px;
    color: #fff;
    margin-bottom: 20px;
    margin-left: -15px;
    margin-top: -15px
}
.stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .owl-item a {
    text-decoration: none;
}
.modification-wrapper {
    float: left;
    width: 100%;
}
.modification-wrapper .title {
    font-weight: bold !important;
}

.stm-service-icon-user:before{
    content: "\e908" !important;
    font-family: 'stm-service-default' !important;
    font-size: 12px !important;
}
.stm-template-listing_three .lOffer-compare{
    color: #1d2b58 !important;
}
#header .header-listing .header-inner-content .listing-menu li a {
    color: #000 !Important;
}
.stm-pricing__filters ul{
    display: none;
}
.stm-single-car-contact .wpcf7-form p{
    font-size: 13px;
    color: #b7b7b7;
    font-family: "Open Sans";
}

.stm-car-listing-data-single.stm-border-bottom-unit.modification-wrap{
    padding: 0 0 20px 0 !important;
    margin: 0 0 30px 10px !important;
}
.stm-car-listing-data-single.stm-border-bottom-unit.modification-wrap .title{
    font-weight: bold !important;
}
@media (min-width: 992px){
    #main #hometopbg:before {
        top: 175px;
    }
}

.modification-wrapper .stm-car-listing-data-single{
    padding: 0 0 20px 0 !important;
    margin: 0 0  30px 0 !important;
}
.stm_add_car_form .stm_add_car_form_1 .stm-form-1-end-unit .stm-form-1-quarter {
    min-height: 50px !important;
}
#others {
    display: block;
    padding-top: 27px;
    border-top: 4px solid #232628;
}

body.theme-motors .stm-button,
body.theme-motors input[type="submit"],
body.theme-motors button,
body.theme-motors .button,
body.theme-motors .load-more-btn{
    background: #1d2b58 !important;
    box-shadow: 0 2px 0 #0d71ba;
}


.stm_car_plan_expired {
    position: absolute;
    z-index: 11;
    bottom: 5px;
    width: 240px;
    left: 9px;
    text-align: center;
    padding: 5px;
    background-color: rgba(255,255,255,0.7);
    border: 1px solid #dadada;
    border-radius: 10px;
}
.stm_car_plan_expired .day,
.stm_car_plan_expired .hour,
.stm_car_plan_expired .min,
.stm_car_plan_expired .sec {
    font-size: 13px;
    display: inline-block;
    font-weight: 500;
    text-align: center;
    margin: 0;
    background-color: #444;
    color: #fff;
    line-height: 15px;
}
.stm_car_plan_expired .day .format,
.stm_car_plan_expired .hour .format,
.stm_car_plan_expired .min .format,
.stm_car_plan_expired .sec .format {
    font-weight: 300;
    font-size: 11px;
    opacity: 0.8;
    width: 45px;
}
.stm_car_plan_expired .number {
    background: rgba(51, 51, 51, 0.8);
    padding: 0 5px;
    display: inline-block;
    width: 45px;
    text-align: center;
}
.stm_car_plan_expired .message {
    font-size: 12px;
    font-weight: 600;
    margin-top: 0;
    color: #000;
}
.stm_car_plan_expired .status-tag {
    width: 270px;
    margin: 10px auto;
    padding: 8px 0;
    font-weight: 500;
    color: #000;
    text-align: center;
    border-radius: 15px;
    display: none;
}
.stm_car_plan_expired .status-tag.upcoming {
    background-color: lightGreen;
}
.stm_car_plan_expired .status-tag.running {
    background-color: gold;
}
.stm_car_plan_expired .status-tag.expired {
    background-color: silver;
}

.stm_dynamic_listing_filter .tab-content .stm-filter-tab-selects{
    margin-right: 194px;
    overflow: visible;
}


@media (min-width: 1200px){
    .stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .owl-controls {
        top: 38% !important;
    }

    .stm_listing_icon_filter.owl-carousel .owl-controls .owl-nav .owl-prev,
    .stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .owl-controls .owl-nav .owl-next {
        position: absolute !important;
        top: 50%;
        transform: translateY(-50%);
    }
    .stm_listing_icon_filter.owl-carousel .owl-controls .owl-nav .owl-prev {
        left: -85px !important;
    }
    .stm-template-listing_three #wrapper .stm_listing_icon_filter.owl-carousel .owl-controls .owl-nav .owl-next {
        right: -85px !important;
    }
}
@media (min-width: 992px){
    .stm_dynamic_listing_filter.filter-listing .tab-content{
        padding: 50px 45px 14px;
    }
    #hometopbg:before {
       top: auto;
    }
}
@media (max-width: 992px) {
    .stm-template-listing_three #wrapper .stm_listing_icon_filter.filter_body a .inner .image img {
        width: 100%;
        height: 75px;
    }
    .bloglogo img {
        max-width: 160px !important;
        margin-top: -5px !important;
    }
}

@media (max-width: 991px){
    .header-listing .listing_add_cart div,
    .lOffer-account-unit .lOffer-account,
    .listing-menu-mobile-wrapper .stm-menu-trigger span{
        background-color: #1d2b58 !important;
        opacity: 1 !important;
    }
    .stm-template-listing_three #wrapper #header .header-listing .listing_add_cart div i,
    .stm-template-listing_three .lOffer-account i{
        color: #fff;
    }
    .listing-menu-mobile-wrapper .stm-menu-trigger.opened span {
        background: white !important;
    }
    .stm-pricing__side-panel{
        display: none;
    }
}

@media(max-width:767px) {
    .stm-pricing-table .stm-pricing-table__action > a{
        visibility: visible !important;
    }
    .stm-pricing_2 .stm-pricing__tables-col,
    .stm-pricing_3 .stm-pricing__tables-col{
        margin-bottom: 70px;
        width: 100%;
    }

    .stm-template-listing_three #wrapper .stm-pricing__tables .owl-controls{
        display: block !important;
        margin: 0;
    }
    .stm-template-listing_three #wrapper .stm-pricing__tables .owl-dots{
        display: none;
    }
    .stm-pricing__tables .owl-carousel .owl-nav > div{
        height: 47px;
        position: absolute;
        width: 26px;
        cursor: pointer;
        top: 50% !important;
        font-size: 20px;
    }
    .stm-pricing__tables .owl-carousel .owl-prev{
        left: -15px;
    }
    .stm-pricing__tables .owl-carousel .owl-next{
        right: -15px;
    }
    .stm-pricing_3 .stm-pricing__tables-col .stm-pricing__tables-col-inner {
        padding: 0 15px;
    }
}
@media(max-width:570px){
    .stm-pricing_2 .stm-pricing__tables-col{
        width: 100%;
    }
    .stm-pricing-table .stm-pricing-table__action > a {
        white-space: normal;
        padding: 17px 15px 15px;
    }
    .stm-pricing__content {
        margin-bottom: 40px;
    }
    .stm-pricing-table .stm-pricing-table__action{
        visibility: visible;
        opacity: 1;
    }
}

@media (max-width: 430px){
    #hometopbg:before {
        top: 145px;
        text-align: center;
        left: 0;
        right: 0;
        margin: auto;
        transform: none;
    }
    .bloglogo img {
        max-width: 143px !important;
        margin-top: -8px !important;
    }

}
.filter .ui-slider .ui-slider-range, .stm-price-range-unit .ui-slider .ui-slider-range, .stm-price-range-unit .ui-slider .ui-slider-handle:after, .filter .ui-slider .ui-slider-handle:after {
background-color: #0D71BA !important;
}

.wrap_reset_pass_btn{
    margin-top: 10px;
    margin-bottom: 10px;
}
.single-add-to-compare{
    z-index: 1000 !important;
}
