<template>
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <button class="navbar-toggler" type="button" @click="toggleMenu">
      <span class="navbar-toggler-icon" />
    </button>

    <div :class="{ show: menuCollapsed }" class="collapse navbar-collapse">
      <ul class="navbar-nav mr-auto">
        <router-link
          v-for="route in routes"
          :key="route.name"
          :to="route.path"
          tag="li"
          class="nav-item"
        >
          <a class="nav-link">
            {{ route.meta.navigation }}
          </a>
        </router-link>
      </ul>
      <span class="navbar-text">
        <a class="btn btn-secondary" href="#" @click.prevent="logout">
          <i class="fa fa-sign-out" />
        </a>
      </span>
    </div>
  </nav>
</template>

<script>
import sortBy from "lodash-es/sortBy";

export default {
  name: "Navbar",

  /**
   * The data that can be used by the page.
   *
   * @returns {Object} The view-model data.
   */
  data() {
    return {
      menuCollapsed: false
    };
  },

  computed: {
    routes() {
      return sortBy(
        this.$router.options.routes.filter(
          route => route.meta && route.meta.navigation
        ),
        route => route.meta.order
      );
    }
  },

  /**
   * The methods that the layout can use.
   */
  methods: {
    /**
     * Will log the user out.
     */
    logout() {
      this.$store.dispatch("auth/logout");
    },

    /**
     * Will toggle the menu.
     */
    toggleMenu() {
      this.menuCollapsed = !this.menuCollapsed;
    }
  }
};
</script>
