<template>
  <form @keypress.enter="performAction()" @submit.prevent="performAction()">
    <div class="sticky-top card card-default">
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 justify-content-end d-flex">
            <button
              class="btn btn-secondary mr-3"
              @click.prevent="$router.go(-1)"
            >
              Back
            </button>
            <button class="btn btn-primary" type="submit">
              {{ action === "edit" ? "Update" : "Create" }}
            </button>
          </div>
        </div>
      </div>
    </div>
    <div class="card card-default">
      <div class="card-body">
        <div class="row">
          <div class="col-md-8 offset-md-2">
            <fields
              :model="values"
              :errors="errors"
              :fields="fields.all()"
              layout="horizontal"
            />
          </div>
          <div class="col-md-12 text-right">
            <button
              class="btn btn-secondary mr-3"
              @click.prevent="$router.go(-1)"
            >
              Back
            </button>
            <button class="btn btn-primary" type="submit">
              {{ action === "edit" ? "Update" : "Create" }}
            </button>
          </div>
        </div>
      </div>
    </div>
  </form>
</template>

<script>
import { FormComponent } from "stylemix-base";

export default {
  name: "SuperEditor",
  mixins: [FormComponent],
  props: {
    action: {
      type: String,
      default: "edit"
    },
    endpoint: {
      type: String,
      default: null
    },
    finalRoute: {
      type: String,
      default: null
    },
    itemId: {
      type: String,
      default: null
    }
  },
  data() {
    return {
      item: {},
      values: {}
    };
  },
  created() {
    this.action = this.action === "edit" ? this.getItem() : this.getFields();
  },
  methods: {
    performAction() {
      this.action =
        this.action === "edit" ? this.updateItem() : this.createItem();
    },
    getFields() {
      this.$http.get(`${this.endpoint}/create`).then(res => {
        this.setFields(res.data.fields);
      });
    },
    updateItem() {
      this.$http
        .put(`${this.endpoint}/${this.item.id}`, this.values)
        .then(res => {
          this.$router.push({ name: this.finalRoute });
          this.$toast({
            type: "success",
            title: res.data.message
          });
        })
        .catch(error => {
          const { message } = error.res.data.message;
          this.errors = error.res.data.errors;
          this.$toast({
            type: "error",
            title: message || "There was an error, unable to update this item."
          });
        });
    },
    getItem() {
      this.$http
        .get(`${this.endpoint}/${this.$route.params.id}/edit`)
        .then(res => {
          this.item = res.data.data;
          this.setFields(res.data.fields);
        })
        .catch(err => {
          const { message } = err.res.data.message;
          this.$toast({
            type: "error",
            title: message || "There was an error, unable to get this item."
          });
        });
    },
    createItem() {
      this.$http
        .post(this.endpoint, this.values)
        .then(res => {
          this.$router.push({
            name: this.finalRoute,
            params: { id: res.data.data.id }
          });
          this.$toast({
            type: "success",
            title: res.data.message
          });
        })
        .catch(error => {
          const { message } = error.res.data.message;
          this.errors = error.res.data.errors;
          this.$toast({
            type: "error",
            title: message || "There was an error, unable to create this item."
          });
        });
    }
  }
};
</script>
