<template>
  <layout>
    <h4>Import listings</h4>

    <b-card class="mb-8">
      <form v-if="fields.all().length" @submit.prevent="submit">
        <fields
          :fields="fields.all()"
          :errors="errors"
          :model="model"
          layout="vertical"
        />
        <b-button type="submit" variant="primary">Start import</b-button>
      </form>
    </b-card>

    <import-process
      v-for="item in items"
      :key="item.id"
      :process="item"
      @deleted="deleted($event)"
    />
  </layout>
</template>

<script>
import ImportProcessesMixin from "./ImportProcessesMixin";
import Layout from "../layouts/Default.vue";

export default {
  components: {
    Layout
  },
  mixins: [ImportProcessesMixin],
  data() {
    return {
      processor: "aircraft"
    };
  }
};
</script>
