<template>
  <b-card>
    <div>Importing: {{ process.processor }} [{{ process.status }}]</div>
    <b-progress
      :value="process.processed"
      :max="process.total"
      :variant="variant"
      :show-progress="showProgress"
      :animated="showProgress"
      class="mb-2"
    />
    <div class="float-right">
      <b-btn size="sm" variant="warning" @click.prevent="destroy">Delete</b-btn>
    </div>
    <div class="text-muted">
      Processed: {{ process.processed }}; Failed: {{ process.failed }}; Created:
      {{ process.created }}; Updated: {{ process.updated }};
    </div>
  </b-card>
</template>

<script>
import ImportProcessProxy from "./Proxy";

export default {
  name: "Process",
  props: {
    process: { type: Object, required: true }
  },
  computed: {
    showProgress() {
      return this.process.status === "processing";
    },
    variant() {
      switch (this.process.status) {
        case "pending":
          return "secondary";
        case "processing":
          return "info";
        case "complete":
          return "success";
        case "failed":
          return "warning";
        default:
          return "default";
      }
    }
  },
  methods: {
    destroy() {
      new ImportProcessProxy()
        .destroy(this.process.id)
        .then(() => this.$emit("deleted", this.process));
    }
  }
};
</script>
