<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <div class="row">
        <div v-for="group in groups" :key="group.id" class="col-sm-4 mb-4">
          <div class="h6">{{ group.title }}</div>
          <div
            v-for="(option, index) in group.options"
            :key="index"
            class="feature-single"
          >
            <label>
              <input
                :value="option.value"
                v-model="field.value"
                type="checkbox"
              />
              {{ option.label }}
            </label>
          </div>
        </div>
      </div>
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";

export default {
  mixins: [FormField],
  data() {
    return {
      options: []
    };
  },
  computed: {
    groups() {
      const grouped = {};

      this.options.forEach(option => {
        option.groups.forEach(group => {
          if (!grouped[group.id]) {
            grouped[group.id] = {
              id: group.id,
              title: group.title,
              options: []
            };
          }
          grouped[group.id].options.push(option);
        });
      });

      return grouped;
    }
  },
  created() {
    if (this.field.options) {
      this.options = this.field.options;
    }
  },
  methods: {
    setInitialValue() {
      this.field.value = this.field.value || [];
    }
  }
};
</script>
