<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <v-select
        ref="select"
        :disabled="busy"
        :id="field.attribute"
        :options="options"
        :filterable="filterable"
        :placeholder="field.placeholder"
        v-model="selected"
        :class="errorClasses"
        :multiple="field.multiple || false"
        class="form-control"
        @search="onSearch"
      >
        <template slot="option" slot-scope="option">
          <b-img
            v-if="option.image"
            :src="option.image"
            class="w-8 float-left mr-2"
            blank-color="#ddd"
            rounded
          />
          <div>{{ option.label }}</div>
          <div v-if="option.extra" class="text-muted text-sm">
            {{ option.extra }}
          </div>
        </template>
      </v-select>
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";
import map from "lodash-es/map";
import defaults from "lodash-es/defaults";
import debounce from "lodash-es/debounce";
import castArray from "lodash-es/castArray";
import find from "lodash-es/find";
import head from "lodash-es/head";
import isEqual from "lodash-es/isEqual";
import uniqBy from 'lodash-es/uniqBy';

export default {
  mixins: [FormField],
  data() {
    return {
      options: [],
      params: {},
      filterable: false,
      busy: false
    };
  },
  computed: {
    selected: {
      get() {
        let selected = [];
        const values = this.fieldValue === null || this.fieldValue === undefined
            ? []
            : castArray(this.fieldValue);
        values.forEach((value) => {
        selected.push(find(this.options, function(el) {
            if(el.value === parseInt(value)){
              selected.push(el);
              return el;
            }
          }) || this.getMissedOption(value));

        });

        if (this.field.multiple) {
            return uniqBy(selected, 'value');
        }

        return head(selected);
      },
      set(option) {
        if (this.field.multiple) {
          const values = map(option, "value");
          if (!isEqual(values, this.fieldValue)) {
              this.fieldValue = uniqBy(values);
          }
          return;
        }
        this.fieldValue = option ? option.value : null;
        },
      },
  },
  beforeCreate() {
    this.fetch = debounce(() => {
      this.loading(true);

      const promise = this.$http({
        url: this.field.source.url,
        params: this.params
      });

      promise
        .then(response => {
          this.options = response.data.data;
          return response;
        })
        .finally(() => {
          this.loading(false);
        });

      return promise;
    }, 300);
  },
  created() {
    // Take initial options from field config
    // It could contain initially selected option
    this.options = this.field.options || [];
    this.params = defaults(this.field.source ? this.field.source.params : {}, {
      per_page: 9
    });
  },
  mounted() {
    if (!this.options.length && this.field.value) {
      this.fetch();
    }
  },
  methods: {
    loading(value = true) {
      this.$refs.select.toggleLoading(value);
    },
    onSearch(query) {
      this.params.query = query;
      this.fetch();
    },
    getMissedOption(value) {
      return {
        value,
          label: this.$refs.select && this.$refs.select.mutableLoading ? '...' : value,
      };
    }
  }
};
</script>
