<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <transition-group name="fade">
        <div v-for="(url, index) in field.value" :key="index">
          <label>{{ fieldLabel }} {{ index + 1 }}</label>
          <div class="input-group mb-2">
            <input
              ref="text"
              v-model="field.value[index]"
              type="text"
              class="form-control"
            />
            <div class="input-group-append cursor-pointer">
              <div class="input-group-text">
                <i class="fas fa-plus" />
              </div>
            </div>
          </div>
          <div class="heading-font">
            <span class="video-label">{{ fieldLabel }}</span>
            <span class="count">{{ index + 1 }}</span>
          </div>
          <div class="d-flex col-md-8">
            <input
              ref="text"
              v-model="field.value[index]"
              class="form-control"
              type="text"
            />
            <div
              :class="inputControlClasses(index)"
              class="add-button align-items-center bg-primary d-flex
              justify-content-center p-2 text-white"
              @click.stop="modifyValue(index)"
            >
              <i class="fas fa-plus" style="font-size: 17px;" />
            </div>
          </div>
        </div>
      </transition-group>
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";
import isEmpty from "lodash-es/isEmpty";

export default {
  mixins: [FormField],
  data() {
    return {
      fieldLabel: "Video link "
    };
  },
  mounted() {
    this.setInitialValue();
  },
  methods: {
    setInitialValue() {
      if (!this.field.value.length) {
        this.field.value = [""];
      }
    },
    modifyValue(index) {
      const last = index === this.field.value.length - 1;
      if (last) {
        this.addValue();
      } else {
        this.removeValue(index);
      }
    },
    addValue() {
      const newIndex = this.field.value.push("") - 1;
      this.focusNew(newIndex);
    },
    removeValue(index) {
      this.field.value.splice(index, 1);
    },
    focusNew(index) {
      this.$nextTick(() => {
        this.$refs.text[index].focus();
      });
    },
    inputControlClasses(index) {
      if (isEmpty(this.field.value[index])) {
        return [];
      }
      return [
        index === this.field.value.length - 1 ? "add" : "remove",
        this.field.value[index].indexOf("http://") !== -1 ||
        this.field.value[index].indexOf("https://") !== -1
          ? "active"
          : ""
      ];
    }
  }
};
</script>

<style lang="scss" scoped>
.add-button {
  width: 40px;
  height: 40px;
}
</style>
