<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <div class="stm-add-media-car">
        <div class="stm-media-car-main-input">
          <input
            id="gallery_id"
            ref="fileInput"
            :class="{ active: galleryActive }"
            type="file"
            class="form-control"
            multiple
            accept="image/x-png, image/gif, image/jpeg"
            @change="onImageFilesPicked"
            @mouseover="galleryActive = true"
            @mouseout="galleryActive = false"
          />
          <div :class="{ hasPreviews: isImagesPicked }" class="stm-placeholder">
            <i class="fas fa-camera" />
            <a href="#" class="button stm_fake_button">Choose files</a>
          </div>
          <div
            v-if="isImagesPicked"
            :style="{ 'background-image': `url(${firstThumb})` }"
            class="stm-image-preview"
          />
        </div>
        <draggable
          v-model="imagesData"
          :options="{ draggable: '.stm-placeholder' }"
          class="stm-media-car-gallery clearfix"
          @end="prepareFieldValue"
        >
          <div
            v-for="(thumb, index) in thumbs"
            ref="sortable"
            :key="index"
            :class="thumbClasses"
            class="stm-placeholder"
          >
            <div :class="{ active: thumb.url }" class="inner">
              <i v-if="!thumb.url" class="fas fa-camera" />
              <div
                v-else
                :style="{ 'background-image': `url(${thumb.url})` }"
                class="stm-image-preview"
              >
                <i class="fas fa-times" @click.stop="removeImage(index)" />
              </div>
            </div>
          </div>
        </draggable>
      </div>
    </template>
  </component>
</template>

<script>
import draggable from "vuedraggable";
import { FormField } from "stylemix-base";

export default {
  name: "FormGalleryField",
  components: {
    draggable
  },
  mixins: [FormField],
  data() {
    return {
      imagesData: [],
      sortable: false,
      isImagesPicked: false,
      galleryActive: false
    };
  },
  computed: {
    thumbs() {
      let thumbs;
      if (!this.isImagesPicked) {
        thumbs = [...Array(5).keys()]; // php range() analog
      } else {
        thumbs = [];
        this.imagesData.forEach(imageObject => {
          thumbs.push(imageObject.thumb);
        });
      }

      return thumbs;
    },
    thumbClasses() {
      return this.isImagesPicked
        ? "stm-placeholder-generated"
        : "stm-placeholder-native";
    },
    firstThumb() {
      return this.imagesData[0].thumb.url;
    }
  },
  mounted() {
    this.checkIncoming();
  },
  methods: {
    checkIncoming() {
      const thumbsData = this.field.attached;
      const imageIds = this.field.value;

      if (imageIds.length) {
        imageIds.forEach((imageId, key) => {
          if (!thumbsData[key]) {
            return;
          }

          this.imagesData.push({
            thumb: thumbsData[key],
            value: imageId
          });
        });

        this.isImagesPicked = true;
      }
    },
    makeThumbFromFile(imageFile) {
      return { url: URL.createObjectURL(imageFile) };
    },
    addImageObject(file) {
      this.imagesData.push({
        thumb: this.makeThumbFromFile(file),
        value: file
      });
    },
    removeImage(index) {
      if (this.imagesData.length === 1) {
        this.isImagesPicked = false;
      }
      this.imagesData.splice(index, 1);
      this.prepareFieldValue();
    },
    onImageFilesPicked(e) {
      const imageFiles = e.target.files;

      Array.from(imageFiles).forEach(file => {
        this.addImageObject(file);
      });
      if (this.imagesData.length) {
        this.isImagesPicked = true;
        this.prepareFieldValue();
      }
      this.resetFileInput();
    },
    prepareFieldValue() {
      this.clearFieldValue();
      this.imagesData.forEach(imageData => {
        this.field.value.push(imageData.value);
      });
    },
    clearFieldValue() {
      this.field.value.splice(0, this.field.value.length);
    },
    resetFileInput() {
      this.$refs.fileInput.value = "";
    }
  },
  template: "#form-gallery-field"
};
</script>

<style lang="scss" scoped>
.stm-add-media-car {
  padding-right: 9px;
}
.stm-media-car-main-input {
  position: relative;
  width: 100%;
  min-height: 474px;
  margin-bottom: 20px;
  background-color: #eee;
  text-align: center;
  .stm-placeholder {
    position: absolute;
    top: 50%;
    width: 100%;
    transform: translateY(-50%);
    z-index: 29;
    > i {
      display: block;
      font-size: 92px;
      margin-bottom: 34px;
      color: #bebebe;
    }
    > .button {
      padding: 17px 28px 15px;
      font-size: 14px;
      line-height: 14px;
      font-weight: 700;
      letter-spacing: 0.3px;
      text-transform: uppercase;
      color: #fff !important;
      border-radius: 3px;
      transition: opacity 0.2s ease-in !important;
      opacity: 1;
      background-color: #1bc744;
      box-shadow: 0 2px 0 #169f36;
    }
    &.hasPreviews {
      i {
        margin-bottom: 0;
        font-size: 67px;
        color: #1bc744;
        display: block;
        &.active {
          color: #fff;
          &::after {
            background-color: #1bc744;
          }
        }
        &::after {
          position: absolute;
          cursor: pointer;
          content: "";
          display: flex;
          align-items: center;
          justify-content: center;
          width: 135px;
          height: 135px;
          top: 0;
          left: 50%;
          margin-left: -67px;
          margin-top: -27px;
          background-color: #fff;
          z-index: -1;
          border-radius: 50%;
          box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
        }
      }
      .button {
        opacity: 0;
        visibility: hidden;
        padding: 0;
        max-height: 0;
        display: inline-block;
        overflow: hidden;
        background-color: #1bc744;
        box-shadow: 0 2px 0 #169f36;
        text-align: center;
        font-size: 14px;
        line-height: 14px;
        font-weight: 700;
        letter-spacing: 0.3px;
        text-transform: uppercase;
        color: #fff !important;
        border-radius: 3px;
        text-decoration: none !important;
        outline: none !important;
        border: none;
        white-space: normal;
        transition: opacity 0.2s ease-in !important;
        transform: translateZ(0);
      }
    }
  }
}
#gallery_id {
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0;
  z-index: 30;
  display: block;
  border-radius: 0;
  box-shadow: none;
  cursor: pointer;
}
.stm-image-preview {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  i {
    display: block;
    position: absolute;
    right: -10px;
    top: -10px;
    font-size: 13px;
    width: 24px;
    height: 24px;
    text-align: center;
    background-color: #153e4d;
    border-radius: 50%;
    color: #fff;
    &:hover {
      background-color: #f80b0b;
      cursor: pointer;
    }
    &::before {
      display: block;
      margin-top: 5px;
    }
  }
}
.stm-media-car-gallery {
  margin: 0 -15px 46px;
  .stm-placeholder {
    float: left;
    padding: 0 15px;
    margin-bottom: 15px;
    width: 20%;
    .inner {
      position: relative;
      min-height: 81px;
      line-height: 81px;
      color: #bebebe;
      font-size: 41px;
      text-align: center;
      border: 3px solid transparent;
      &.active {
        border: 3px solid #1bc744;
        cursor: move;
      }
    }
  }
}
</style>
