<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <editor v-model="fieldValue" :options="options" />
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";
import "quill/dist/quill.core.css";
import "quill/dist/quill.snow.css";
import "quill/dist/quill.bubble.css";
import { quillEditor } from "vue-quill-editor";

export default {
  name: "FormEditorField",

  components: {
    Editor: quillEditor
  },

  mixins: [FormField],

  data() {
    return {
      options: {
        modules: {
          toolbar: [
            ["bold", "italic", "underline", "strike"], // toggled buttons
            ["blockquote", "code-block"],
            [{ list: "ordered" }, { list: "bullet" }],
            ["link", "image"],
            [{ size: ["small", false, "large", "huge"] }], // custom dropdown
            [{ header: [1, 2, 3, 4, 5, 6, false] }],
            [{ font: [] }],
            [{ align: [] }],
            ["clean"]
          ]
        }
      }
    };
  }
};
</script>
