<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <div class="mb-3">
        <vue-google-autocomplete
          id="map"
          ref="address"
          :placeholder="field.placeholder"
          class="form-control"
          types="geocode"
          @placechanged="getAddressData"
        />
      </div>
      <div class="form-row">
        <div class="col">
          <input
            v-model="lat"
            type="text"
            class="form-control"
            placeholder="Enter Latitude"
          />
        </div>
        <div class="col">
          <input
            v-model="lng"
            type="text"
            class="form-control"
            placeholder="Enter Longitude"
          />
        </div>
      </div>
      <a href="http://www.latlong.net/" target="_blank">Lat and Long Finder</a>
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";
/* eslint-disable import/extensions */
import VueGoogleAutocomplete from "vue-google-autocomplete";

export default {
  components: {
    VueGoogleAutocomplete
  },
  mixins: [FormField],
  data() {
    let lat = "";
    let lng = "";

    if (this.field.value && this.field.value.coordinates) {
      [lat, lng] = this.field.value.coordinates.split(",");
    }

    return {
      lat,
      lng
    };
  },
  mounted() {
    if (this.field.value && this.field.value.address) {
      this.$refs.address.update(this.field.value.address);
    }
  },
  methods: {
    getAddressData(addressData, placeResultData) {
      this.field.value.address = placeResultData.formatted_address;
      this.field.value.coordinates = `${addressData.latitude},${addressData.longitude}`;
      this.lat = addressData.latitude;
      this.lng = addressData.longitude;
    }
  }
};
</script>
