<template>
  <component :is="layoutComponent" :field="field" :errors="errors">
    <template slot="field">
      <div class="custom-file mb-2">
        <input
          :id="field.attribute"
          :class="errorClasses"
          :dusk="field.attribute"
          :multiple="field.multiple || false"
          :accept="field.mimeTypes"
          type="file"
          class="custom-file-input"
          @input="input($event)"
        />
        <label :for="field.attribute" class="custom-file-label">{{
          label
        }}</label>
      </div>
      <b-button
        v-if="attached"
        variant="danger"
        size="sm"
        @click.stop.prevent="clear()"
        >Clear</b-button
      >
    </template>
    <template slot="errors">
      <div v-if="hasError" class="invalid-feedback">{{ firstError }}</div>
    </template>
  </component>
</template>

<script>
import { FormField } from "stylemix-base";

export default {
  mixins: [FormField],
  data() {
    return {
      brochure: false
    };
  },
  computed: {
    label() {
      return this.field.value ? this.field.attached.filename : this.field.label;
    },
    attached() {
      return this.field.multiple ? this.field.value.length : this.field.value;
    }
  },
  methods: {
    clear() {
      if (this.field.multiple) {
        this.field.attached = [];
        this.field.value = [];
      } else {
        this.field.attached = null;
        this.field.value = null;
      }
    },
    input($event) {
      const files = [];

      for (let i = 0; i < $event.target.files.length; i += 1) {
        files.push($event.target.files[i]);
      }

      this.field.attached = {};
      this.field.attached.filename = this.field.multiple
        ? files.map(file => file.name).join(" ")
        : files[0].name;
      this.field.value = this.field.multiple ? files : files[0];
    }
  }
};
</script>
