<template>
  <div class="d-inline mb-2 mr-sm-2">
    <label v-if="showLabel" :for="field.attribute" class="sr-only">
      {{ field.label || fieldLabel }}
    </label>
    <slot name="field" />
  </div>
</template>

<script>
import { FieldLayoutMixin } from "stylemix-base";

export default {
  mixins: [FieldLayoutMixin]
};
</script>
