<template>
  <layout>
    <h4>Create attribute</h4>
    <resource-form @saved="gotoEdit" @cancelled="returnBack" />
  </layout>
</template>

<script>
import Layout from "../layouts/Default.vue";
import ResourceForm from "./Form.vue";

const resourceBase = "listings-attributes";

export default {
  name: "AttributesCreate",

  components: {
    Layout,
    ResourceForm
  },

  methods: {
    gotoEdit(model) {
      this.$router.push({
        name: `${resourceBase}.edit`,
        params: { id: model.data.id }
      });
    },
    returnBack() {
      this.$router.push({ name: `${resourceBase}.index` });
    }
  }
};
</script>
