<template>
  <layout>
    <h4>Edit attribute</h4>
    <resource-form
      :id="$route.params.id"
      @saved="returnBack"
      @cancelled="returnBack"
    />
  </layout>
</template>

<script>
import Layout from "../layouts/Default.vue";
import ResourceForm from "./Form.vue";

const resourceBase = "listings-attributes";

export default {
  name: "AttributesEdit",

  components: {
    Layout,
    ResourceForm
  },

  methods: {
    returnBack() {
      this.$router.push({ name: `${resourceBase}.index` });
    }
  }
};
</script>
