<template>
  <form @submit.prevent="submit">
    <fields :fields="fields.all()" :model="model" :errors="errors" />
    <div class="form-group">
      <b-button type="submit" variant="primary">
        Save
      </b-button>
      <b-button type="button" variant="light" @click="cancel">
        Cancel
      </b-button>
    </div>
  </form>
</template>

<script>
import Layout from "../layouts/Default.vue";
import ResourceFormMixin from "../mixins/ResourceFormMixin";
import Proxy from "./Proxy";

export default {
  name: "AttributesForm",

  components: {
    Layout
  },

  mixins: [ResourceFormMixin],

  created() {
    this.loadForm(Proxy);
  },

  methods: {
    submit() {
      this.save(Proxy).then(() => {
        this.$toast.success("Attribute was saved successfully");
      });
    }
  }
};
</script>
