<template>
  <layout>
    <h4>
      Attributes list
      <router-link
        :to="{ name: 'listings-attributes.create' }"
        class="btn btn-sm btn-primary"
        >Create</router-link
      >
    </h4>
    <base-table :resource="resource" />
  </layout>
</template>

<script>
import get from "lodash-es/get";
import Layout from "../layouts/Default.vue";
import BaseTable from "../components/BaseTable.vue";
import ResourceForm from "./Form.vue";
import Proxy from "./Proxy";

const resourceBase = "listings-attributes";

export default {
  name: "AttributesIndex",

  components: {
    Layout,
    BaseTable,
    ResourceForm
  },

  data() {
    return {
      resource: {
        base: resourceBase,
        proxy: () => new Proxy(),
        sortBy: "order",
        sortDesc: false,
        pagination: false,
        fields: [
          {
            key: "name",
            label: "Name",
            sortable: true
          },
          {
            key: "options.label",
            label: "Label",
            sortable: false,
            formatter: (value, key, item) => get(item, "options.label")
          },
          {
            key: "type",
            label: "Type",
            sortable: true
          }
        ],

        // override search fields here using fields schema
        // searchFields: [
        // ],

        // define custom row actions
        // rowActions(item) {
        //   return [];
        // },

        // define custom bulk actions
        bulkActions() {
          return [];
        }
      }
    };
  }
};
</script>

<style scoped></style>
