<template>
  <layout>
    <h4>SEO settings</h4>
    <div class="form-group row">
      <div class="col-sm-4">
        <h4>Filter Page</h4>
        <p>
          <code>%make%</code> — for a vehicle make (Mercedes-Benz)<br />
          <code>%model%</code> — for vehicle model (C-Klasse)<br />
          <code>%condition%</code> — for vehicle condition (Used, New)<br />
          <code>%parent_location%</code> — for parent location<br />
          <code>%child_location%</code> — for child location<br />
          <code>%site_name%</code> — for site name makina.al
        </p>
      </div>
      <div class="col-sm-8">
        <h4>Item Page</h4>
        <p>
          <code>%year_model%</code> — for a vehicle <br />
          <code>%mileage%</code> — for a vehicle <br />
          <code>%fuel%</code> — for a vehicle <br />
          <code>%properties%</code> — for a vehicle <br />
          <code>%item_description%</code> — for a vehicle <br />
          <code>%condition%</code> — for a vehicle <br />
          <code>%body%</code> — for a vehicle <br />
          <code>%engine%</code> — for a vehicle <br />
          <code>%transmission%</code> — for a vehicle <br />
          <code>%exterior_color%</code> — for a vehicle <br />
          <code>%interior_color%</code> — for a vehicle <br />
          <code>%company_name%</code> — for a vehicle <br />
        </p>
      </div>
    </div>

    <form @submit.prevent="submit">
      <b-card
        v-for="(panel, key) in panelDetails"
        :key="key"
        no-body
        class="mb-1 seo_wrap"
      >
        <b-card-header header-tag="header" class="p-1" role="tab">
          <b-button
            v-b-toggle="'accordion_' + key"
            block
            href="#"
            variant="primary"
            >{{ panel.label }}</b-button
          >
        </b-card-header>
        <b-collapse
          :id="'accordion_' + key"
          :visible="key === 'no_filters'"
          accordion="seo"
          role="tabpanel"
        >
          <fields
            :model="model"
            :errors="errors"
            :fields="panels[key]"
            layout="horizontal"
          />
        </b-collapse>
      </b-card>

      <div class="form-group">
        <b-button type="submit" variant="primary">
          Save
        </b-button>
      </div>
    </form>
  </layout>
</template>

<script>
import { FormComponent } from "stylemix-base";
import Layout from "../layouts/Default.vue";

const base = "settings/seo";

export default {
  name: "SettingsSEO",

  components: {
    Layout
  },

  mixins: [FormComponent],

  data: () => ({
    model: {},
    panels: [],
    panelDetails: {
      no_filters: {
        label: "Listing Search (No Filters Applied)",
        sortIndex: 10,
        color: "no_filters"
      },
      location: {
        label: "Listing Search / Filter Page (Location)",
        sortIndex: 20,
        color: "location"
      },
      condition: {
        label: "Listing Search (Condition)",
        sortIndex: 25,
        color: "condition"
      },
      con_loc: {
        label: "Listing Search (Condition, Location)",
        sortIndex: 30,
        color: "con_loc"
      },
      make_model_con: {
        label: "Listing Search / Filter Page (Make/Model, Condition)",
        sortIndex: 40,
        color: "make_model_con"
      },
      make_model_loc_con: {
        label: "Listing Search / Filter Page (Make/Model, Location, Condition)",
        sortIndex: 50,
        color: "make_model_loc_con"
      },
      single_private: {
        label: "Car belongs to Private seller",
        sortIndex: 60,
        color: "single_private"
      },
      single_dealer: {
        label: "Car Belonging to a Car Dealer",
        sortIndex: 70,
        color: "single_dealer"
      }
    }
  }),

  created() {
    this.$http.get(base).then(result => {
      this.model = result.data.data;
      this.setPanels(result.data.fields);
    });
  },

  methods: {
    setPanels(items) {
      const panels = {};
      items.forEach(field => {
        const key = field.panel || "others";
        if (!panels[key] || panels[key].length === 0) {
          panels[key] = [];
        }
        panels[key].push(field);
      });

      this.panels = panels;
    },
    submit() {
      this.errors.clear();
      this.$http
        .post(base, this.model)
        .then(() => {
          this.$toast.success("Settings were saved successfully");
        })
        .catch(({ response }) => {
          if (response.status === 422) {
            this.setValidationErrors(response.data.errors);
            this.$toast.error(response.data.message);
          }
        });
    }
  }
};
</script>

<style>
.center {
  text-align: center;
}
.seo_wrap .btn-primary {
  background-color: #8cc2fd;
  border-color: #8cc2fd;
}
.seo_wrap .collapse {
  padding: 15px 0;
}
</style>
