<template>
  <div>
    <Navbar />
    <div class="p-4">
      <div class="row">
        <div class="col col-12">
          <!-- Content will be placed here -->
          <slot />
        </div>
      </div>
    </div>
  </div>
</template>

<script>
/* ============
 * Default Layout
 * ============
 *
 * Used for the home and account pages.
 *
 * Layouts are used to store a lot of shared code.
 * This way the app stays clean.
 */

import Navbar from "../components/Navbar.vue";

export default {
  /**
   * The name of the layout.
   */
  name: "DefaultLayout",

  components: {
    Navbar
  }
};
</script>
