<template>
  <layout>
    <h4>Create listing</h4>
    <resource-form @saved="returnBack" @cancelled="returnBack" />
  </layout>
</template>

<script>
import Layout from "../layouts/Default.vue";
import ResourceForm from "./Form.vue";

const resourceBase = "listings";

export default {
  name: "ListingCreate",

  components: {
    Layout,
    ResourceForm
  },

  methods: {
    returnBack() {
      this.$router.push({ name: `${resourceBase}.index` });
    }
  }
};
</script>
