<template>
  <form @submit.prevent="save()">
    <div class="sticky-top card card-default mb-8">
      <div class="card-body justify-content-end d-flex">
        <b-button type="submit" variant="primary" class="mr-2">Save</b-button>
        <b-button type="button" variant="light" @click="cancel"
          >Cancel</b-button
        >
      </div>
    </div>
    <div
      v-for="(panel, key) in panelDetails"
      :key="key"
      class="card card-default mb-8"
    >
      <div class="card-header">{{ panel.label }}</div>
      <div class="card-body">
        <fields
          :model="values"
          :errors="errors"
          :fields="panels[key]"
          layout="horizontal"
        />
      </div>
    </div>
    <div class="text-right p-3">
      <b-button type="submit" variant="primary" class="mr-2">Save</b-button>
      <b-button type="button" variant="light" @click="cancel">Cancel</b-button>
    </div>
  </form>
</template>

<script>
import ResourceFormMixin from "../mixins/ResourceFormMixin";
import Proxy from "./Proxy";

export default {
  name: "ListingForm",
  mixins: [ResourceFormMixin],
  data() {
    return {
      values: {},
      panels: [],
      panelDetails: {
        primary: {
          label: "Primary",
          sortIndex: 10,
          color: "primary"
        },
        secondary: {
          label: "Secondary",
          sortIndex: 20,
          color: "primary"
        },
		    modifications: {
          label: "Modifications",
          sortIndex: 20,
          color: "primary"
        },
        step2: {
          label: "Step 2",
          sortIndex: 25,
          color: "primary"
        },
        step3: {
          label: "Step 3",
          sortIndex: 30,
          color: "primary"
        },
        step4: {
          label: "Step 4",
          sortIndex: 40,
          color: "primary"
        },
        step5: {
          label: "Step 5",
          sortIndex: 50,
          color: "primary"
        },
        step6: {
          label: "Step 6",
          sortIndex: 60,
          color: "primary"
        },
        subscription: {
          label: "Subscription/Plan",
          sortIndex: 60,
          color: "primary"
        },
        seo: {
          label: "Seo settings",
          sortIndex: 70,
          color: "default"
        },
        others: {
          label: "Others",
          sortIndex: 1000,
          color: "default"
        }
      }
    };
  },

  created() {
    this.loadForm(Proxy).then(result => {
      this.setPanels(result.fields);
      this.fields.get("videos").component = "videos-field";
    });
  },

  methods: {
    setPanels(items) {
      const panels = {};

      items.forEach(field => {
        const key = field.panel || "others";

        if (!panels[key] || panels[key].length === 0) {
          panels[key] = [];
        }

        panels[key].push(field);
      });

      this.panels = panels;
    },

    save() {
      const formData = this.formData(
        this.fields.except("gallery_id", "brochure_id", "valuation_pdf_id")
      );
      let promise;

      if (this.updating) {
        promise = new Proxy().update(this.id, formData);
      } else {
        promise = new Proxy().store(formData);
      }

      return promise
        .then(result => {
          this.id = result.data.id;
          this.uploadAttachments();
          return result;
        })
        .catch(response => {
          this.onSaveError(response);
        });
    },

    uploadAttachments() {
      const formData = this.formData(
        this.fields.only("gallery_id", "brochure_id", "valuation_pdf_id")
      );
      let promise;

      if (this.updating) {
        promise = new Proxy().update(this.id, formData);
      } else {
        promise = new Proxy().store(formData);
      }

      return promise
        .then(result => {
          this.onSaved(result);
          this.$toast.success(
            "Listing was saved successfully",
            this.model.title
          );
          return result;
        })
        .catch(response => {
          this.onSaveError(response);
        });
    }
  }
};
</script>
