<template>
  <layout>
    <h4>
      Listings
      <router-link
        :to="{ name: 'listings.create' }"
        class="btn btn-sm btn-primary"
        >Create</router-link
      >
    </h4>
    <base-table ref="table" :resource="resource">
      <template slot="table-colgroup">
        <col width="1%" />
        <col width="1%" />
        <col width="150px" />
      </template>
      <template slot-scope="{ item }" slot="image">
        <img
          v-if="item.gallery"
          :src="
            item.gallery[0] && item.gallery[0].url
              ? item.gallery[0].url
              : fallbackImg
          "
          class="img-fluid"
        />
      </template>
      <template slot-scope="{ item }" slot="title">
        <a :href="item.link" target="_blank">{{ item.title }}</a>
        <p>
          Status:
          <b>{{ item.status_text }}</b>
        </p>
      </template>
      <template slot-scope="{ item }" slot="author">
        <a v-if="item.author" :href="item.author.link" target="_blank">{{
          item.author.name
        }}</a>
      </template>
    </base-table>
  </layout>
</template>

<script>
import Layout from "../layouts/Default.vue";
import BaseTable from "../components/BaseTable.vue";
import ResourceForm from "./Form.vue";
import Proxy from "./Proxy";

const resourceBase = "listings";

export default {
  name: "ListingIndex",

  components: {
    Layout,
    BaseTable,
    ResourceForm
  },

  data() {
    const vm = this;

    return {
      wpUrl: process.env.VUE_APP_MAIN_URL,
      fallbackImg: `${process.env.VUE_APP_MAIN_URL}/wp-content/themes/motors-child/assets/images/plchldr350.png`,
      resource: {
        base: resourceBase,
        proxy: () => new Proxy(),
        sortBy: "created_at",
        sortDesc: true,
        perPage: 9,
        fields: [
          {
            key: "id",
            label: "ID",
            sortable: true
          },
          {
            key: "image",
            label: "Image"
          },
          {
            key: "title",
            label: "Title",
            sortable: true
          },
          {
            key: "author",
            label: "Author",
            sortable: false
          },
          {
            key: "is_special",
            label: "Featured",
            sortable: true,
            component: "data-boolean"
          },
          {
            key: "subscription_title",
            label: "Plan",
            sortable: true
          },
          {
            key: "subscription_expires_r",
            label: "Plan Expired",
            sortable: true
          },
          {
            key: "created_at",
            label: "Created",
            sortable: true
          }
          // define column fields here
        ],

        // override search fields here using fields schema
        // searchFields: [
        // ],

        // define custom row actions
        // rowActions(item) {
        //   return [];
        // },

        // define custom bulk actions
        bulkActions() {
          return [
            {
              label: "Publish",
              handler: selected => {
                new Proxy()
                  .bulkUpdate(selected, { status: "publish" })
                  .then(() => {
                    vm.$refs.table.refresh();
                  });
              }
            },
            {
              label: "Mark as draft",
              handler: selected => {
                new Proxy()
                  .bulkUpdate(selected, { status: "draft" })
                  .then(() => {
                    vm.$refs.table.refresh();
                  });
              }
            },
            "delete"
          ];
        }
      }
    };
  }
};
</script>
