.form-control.v-select {
  .dropdown-toggle {
    border: none;
    padding: 0;

    &::after {
      display: none;
    }

    input[type=search] {
      margin: 0;
    }
  }

  .selected-tag {
    margin-top: 0;
  }

  .vs__selected-options {
    margin-left: -7px;
    padding-left: 0;
  }
}

.ql-toolbar.ql-snow {
  border-top-left-radius: .25rem;
  border-top-right-radius: .25rem;
}

.ql-container.ql-snow {
  border-bottom-left-radius: .25rem;
  border-bottom-right-radius: .25rem;
}
